<div class="col-md-3">
    <div class="list-group">
        <a id="m-1" href="{{url_for('home.user')}}" class="list-group-item"
         style="border-radius: 17px 17px 0 0">
            <span class="glyphicon glyphicon-user"></span>&nbsp;User Profile
        </a>
        <a id="m-2" href="{{url_for('home.pwd')}}" class="list-group-item">
            <span class="glyphicon glyphicon-lock"></span>&nbsp;Change Password
        </a>
{#        <a id="m-3" href="{{url_for('home.comments')}}" class="list-group-item">#}
{#            <span class="glyphicon glyphicon-comment"></span>&nbsp;评论记录#}
{#        </a>#}
        <a id="m-4" href="{{url_for('home.loginlog')}}" class="list-group-item">
            <span class="glyphicon glyphicon-calendar"></span>&nbsp;Login Log
        </a>
        <a id="m-5" href="{{url_for('home.history')}}" class="list-group-item"
        style="border-radius: 0 0 17px 17px">
            <span class="glyphicon glyphicon-heart"></span>&nbsp;History
        </a>
    </div>
</div>